# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Streamlit
.streamlit/

# Chroma DB
chroma_db/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
temp/
tmp/

# PyInstaller
dist/
build/
*.spec

# EXE files
*.exe